<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>ABB</string>
		<key>scheme</key>
		<string>vn.abbank.retail</string>
		<key>appId</key>
		<string>id6636532294</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>ABBANK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ACB</string>
		<key>scheme</key>
		<string>acbone</string>
		<key>appId</key>
		<string>id950141024</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>ACB ONE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VBA</string>
		<key>scheme</key>
		<string>agribankmobile</string>
		<key>appId</key>
		<string>id935944952</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Agribank Plus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BIDV</string>
		<key>scheme</key>
		<string>dl.bidvsmartbanking.vn</string>
		<key>appId</key>
		<string>id1061867449</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>BIDV SmartBanking</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VCCB</string>
		<key>scheme</key>
		<string>bvb.digimi</string>
		<key>appId</key>
		<string>id1526444697</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>digimi - Ngân hàng số</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CAKE</string>
		<key>scheme</key>
		<string>cake.vn</string>
		<key>appId</key>
		<string>id1551907051</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>CAKE - Digital Banking</string>
	</dict>
	<dict>
		<key>code</key>
		<string>EIB</string>
		<key>scheme</key>
		<string>eximbankomnimobile</string>
		<key>appId</key>
		<string>id1571427361</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>Eximbank EDigi</string>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>code</key>
		<string>HDB</string>
		<key>scheme</key>
		<string>hdbankmobile</string>
		<key>appId</key>
		<string>id1461658565</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>HDBank</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KBank</string>
		<key>scheme</key>
		<string>kbank.kplusvn</string>
		<key>appId</key>
		<string>id1586576195</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>K PLUS Vietnam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LPB</string>
		<key>scheme</key>
		<string>lv24h</string>
		<key>appId</key>
		<string>id1488794748</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>LPBank</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MB</string>
		<key>scheme</key>
		<string>mbbank</string>
		<key>appId</key>
		<string>id1205807363</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>MB Bank</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MBV</string>
		<key>scheme</key>
		<string>mbv</string>
		<key>appId</key>
		<string>id6742386787</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>MBV Bank</string>
	</dict>
	<dict>
		<key>code</key>
		<string>MSB</string>
		<key>scheme</key>
		<string>msbmbank</string>
		<key>appId</key>
		<string>id436134873</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>MSB mBank</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NAB</string>
		<key>scheme</key>
		<string>nabTransferMoney</string>
		<key>appId</key>
		<string>id1456997296</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>NAM A BANK - OPEN BANKING</string>
	</dict>
	<dict>
		<key>code</key>
		<string>OCB</string>
		<key>scheme</key>
		<string>newomni-app</string>
		<key>appId</key>
		<string>id6472261202</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>OCB OMNI 4.0</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PVDB</string>
		<key>scheme</key>
		<string>pvcapp</string>
		<key>appId</key>
		<string>id6467857410</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>PVConnect</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PVCB</string>
		<key>scheme</key>
		<string>pvcapp</string>
		<key>appId</key>
		<string>id6467857410</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>PVConnect</string>
	</dict>
	<dict>
		<key>code</key>
		<string>STB</string>
		<key>scheme</key>
		<string>sacombankpay</string>
		<key>appId</key>
		<string>id1436283663</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Sacombank Pay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TPB</string>
		<key>scheme</key>
		<string>hydro</string>
		<key>appId</key>
		<string>id450464147</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>TPBank Mobile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>TCB</string>
		<key>scheme</key>
		<string>tcb</string>
		<key>appId</key>
		<string>id1548623362</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Techcombank Mobile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VIB</string>
		<key>scheme</key>
		<string>myvib2</string>
		<key>appId</key>
		<string>id1626624790</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>MyVIB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VPB</string>
		<key>scheme</key>
		<string>vpbankneo</string>
		<key>appId</key>
		<string>id1209349510</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>VPBank NEO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VAB</string>
		<key>scheme</key>
		<string>vabmobilebanking</string>
		<key>appId</key>
		<string>id910897337</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>VietABank EzMobile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VCB</string>
		<key>scheme</key>
		<string>vcbpartner</string>
		<key>appId</key>
		<string>id561433133</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>VCB Digibank</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ICB</string>
		<key>scheme</key>
		<string>vietinbankipay</string>
		<key>appId</key>
		<string>id689963454</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>VietinBank iPay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>WVN</string>
		<key>scheme</key>
		<string>wvbs</string>
		<key>appId</key>
		<string>id1501785125</string>
		<key>canFill</key>
		<true/>
		<key>appName</key>
		<string>Woori WON Vietnam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BVB</string>
		<key>scheme</key>
		<string>baovietmobile</string>
		<key>appId</key>
		<string>id1504422967</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>BAOVIET Smart</string>
	</dict>
	<dict>
		<key>code</key>
		<string>COOPBANK</string>
		<key>scheme</key>
		<string>coopbankmobile</string>
		<key>appId</key>
		<string>id1578445811</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Co-opBank Mobile Banking</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IVB</string>
		<key>scheme</key>
		<string>ivbmobilebanking</string>
		<key>appId</key>
		<string>id1096963960</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>IVB Mobile Banking</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NCB</string>
		<key>scheme</key>
		<string>ncbizimobile</string>
		<key>appId</key>
		<string>id1465217154</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>NCB iziMobile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PGB</string>
		<key>scheme</key>
		<string>pgbankmobile</string>
		<key>appId</key>
		<string>id1537765475</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>PGBank App</string>
	</dict>
	<dict>
		<key>code</key>
		<string>PBVN</string>
		<key>scheme</key>
		<string>publicbankmobile</string>
		<key>appId</key>
		<string>id1573736472</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>PB engage VN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SHB</string>
		<key>scheme</key>
		<string>shbmobile</string>
		<key>appId</key>
		<string>id538278798</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>SHB Mobile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SGICB</string>
		<key>scheme</key>
		<string>Sgbmobile</string>
		<key>appId</key>
		<string>id1481832587</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>SAIGONBANK Smart Banking</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SEAB</string>
		<key>scheme</key>
		<string>seamobile</string>
		<key>appId</key>
		<string>id846407152</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>SeAMobile</string>
	</dict>
	<dict>
		<key>code</key>
		<string>SHBVN</string>
		<key>scheme</key>
		<string>shinhanglbvnbank</string>
		<key>appId</key>
		<string>id1071033810</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Shinhan SOL Vietnam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>UOB</string>
		<key>scheme</key>
		<string>mightyapp</string>
		<key>appId</key>
		<string>id1174327324</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>UOB TMRW Vietnam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>VIETBANK</string>
		<key>scheme</key>
		<string>vietbankmobilebanking</string>
		<key>appId</key>
		<string>id1469883896</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Vietbank Digital</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CIMB</string>
		<key>scheme</key>
		<string>cimb</string>
		<key>appId</key>
		<string>id1318127958</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>OCTO by CIMB Vietnam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IBK - HCM</string>
		<key>scheme</key>
		<string>ionebankglobal</string>
		<key>appId</key>
		<string>id787064809</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>i-ONE Bank Global</string>
	</dict>
	<dict>
		<key>code</key>
		<string>IBK - HN</string>
		<key>scheme</key>
		<string>ionebankglobal</string>
		<key>appId</key>
		<string>id787064809</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>i-ONE Bank Global</string>
	</dict>
	<dict>
		<key>code</key>
		<string>KLB</string>
		<key>scheme</key>
		<string>kienlongbankmobilebanking</string>
		<key>appId</key>
		<string>id1562823941</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>KienlongBank Plus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NHB HN</string>
		<key>scheme</key>
		<string>newnhsmartbanking</string>
		<key>appId</key>
		<string>id1444712671</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>NH스마트뱅킹</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Vikki</string>
		<key>scheme</key>
		<string>vikki</string>
		<key>appId</key>
		<string>id6471952024</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Vikki - Ngân hàng Số</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LIOBANK</string>
		<key>scheme</key>
		<string>lio</string>
		<key>appId</key>
		<string>id6444787281</string>
		<key>canFill</key>
		<false/>
		<key>appName</key>
		<string>Liobank - Smart Mobile Banking</string>
	</dict>
</array>
</plist>
